<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ming.brain.mapperInterface.UserMapper">
	<insert id="insertMember" parameterType="java.util.HashMap">
		<![CDATA[
		INSERT INTO USER_INFO
		    (USER_ID, LOGIN_ID, PASSWORD, CI, NAME)
		VALUES
		    (SEQ_USER_ROW.NEXTVAL, '',  '', #{CUST_ID}, '')	
		]]>
	</insert>	

	<select id="selectLoginID" parameterType="java.util.HashMap" resultType="HashMap">
		<![CDATA[
		SELECT CASE WHEN EXISTS (
		            SELECT 1
		            FROM USER_INFO
		            WHERE LOGIN_ID = #{LOGIN_ID}
		            ) THEN 'Y' ELSE 'N' END USER_YN
		FROM DUAL
		]]>
	</select>	

	<select id="selectCiCheck" parameterType="java.util.HashMap" resultType="HashMap">
		<![CDATA[
		SELECT CASE WHEN EXISTS (
		            SELECT 1
		            FROM USER_INFO
		            WHERE CI = #{KAKAO_CUST_ID}
		            ) THEN 'Y' ELSE 'N' END USER_YN
		FROM DUAL
		]]>
	</select>		
</mapper>